<h1>Contributing Shelters listed by City:</h1><br>

<% @shelters.each do |shelter| %>
  <h4><%= link_to shelter.name, shelter_path(shelter) %></h4>
  <%= shelter.address.full_address.html_safe %><br />
  <br />
<% end %>
