<h1>Contributing Shelters:</h1><br />

<% @shelters.each do |shelter| %>
  <%= link_to shelter.name, shelter_path(shelter) %><br />
  <%= shelter.address.full_address.html_safe %><br />
  <br />
<% end %>
