<h1><%= @shelter.name %></h1>
<p><%= @shelter.address.full_address %></p>

<h4>Pets ready for adoption!</h4>
<% @shelter.pets.each do |pet| %>
  <%= render partial: 'layouts/pet', locals: {pet: pet} %>
<% end %>
