<h1><%= @employee.username %></h1>
<ul>
  <h3>Works at: <%= link_to @employee.shelter.name, shelter_path(@employee.shelter) %></h3><br>
  <h3>Pets taken care of by <%= @employee.username %>:</h3><br>
  <% @employee.pets.each do |pet| %>
    <%= render partial: 'layouts/pet', locals: {pet: pet} %>
  <% end %>
</ul>
