<h1 class="p-3 page-header text-light">All of our Adopters!</h1><br>

<div class="container">
  <div class="row">
    <div class="col-6">
      <% @users.each_with_index do |user, i| %>
        <% if i.even? %>
          <div class="user-bubble py-3">
            <%= link_to "#{user.username}'s profile page", user_path(user), class: "text-secondary p-2 rounded", id: "user-index-l" %><br>
            <!-- <%= link_to "#{user.username}'s pets", user_pets_list_path(user) if !user.pets.nil? %><br> -->
          </div>
          <br>
        <% end %>
      <% end %>
    </div>

    <div class="col-6">
      <% @users.each_with_index do |user, i| %>
        <% if i.odd? %>
          <div class="user-bubble py-3">
            <%= link_to "#{user.username}'s profile page", user_path(user), class: "text-secondary p-2 rounded", id: "user-index-r" %><br>
            <!-- <%= link_to "#{user.username}'s pets", user_pets_list_path(user) if !user.pets.nil? %><br> -->
          </div>
          <br>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
