<div class="home">
  <h1 class="p-3 bg-white text-dark">Welcome to Adopt Don't Shop</h1>
</div>
<p class="p-3 bg-white text-dark">Help give a home to an animal in need!</p>

<div class="container">
  <div class="row">
    <div class="col-8">
      List of currently added shelters?
    </div>
    <div class="col-4">
      List of recently adopted pets?
    </div>
  </div>
</div>
