<div class="home">
  <h1 class="p-3 bg-white text-dark">Welcome to Adopt Don't Shop</h1>
</div>
<p class="p-3 bg-white text-dark">Help give a home to an animal in need!</p>

<div class="container">
  <div class="row">
    <div class="col-8" id="shelter-list">
      <div>
        <!-- list of attributes, with link to shelter page (dynamically generate) -->
      </div>
    </div>
    <div class="col-4" id="recent-pets">
      List of recently adoptable pets?
    </div>
  </div>
</div>
