<% if flash[:message] %>
  <p><%= flash[:message] %></p>
<% end %>

<div class="home">
  <h1 class="p-3 bg-white text-dark">Welcome to Adopt Don't Shop</h1>
  <p class="p-3 bg-white text-dark">Help give a home to an animal in need!</p>
</div>
