/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // rewrite using sass syntax?
@import "bootstrap";

body {
  background: #F0F8FF;
  color: white;
  font-family: Garamond, Bookman, Palatino, Georgia;
  text-align: center;
}

.home {
  background: url("/home/IMAG0534_1.JPG") no-repeat center center;
  background-size: cover;
  height: 500px;
  width: 100%;
}

.flash-message {
  color: #000;
}

.container-bubble, .page-header, .page-divider, .card-footer {
  // background: #7FFFD4;
  background: #2E8B57;
}

.card-footer:last-child {
  border-radius: 0px;
}

a {
  color: #6c757d;
  text-decoration: none;
}

a:hover {
  color: #6c757d;
}


// Home page
.home-bubble {
  background: white;
}

#initial-shelters, #additional-shelters, #initial-pets, #additional-pets {
  padding: 5px;
}

#initial-shelters, #initial-pets {
  border: 2px solid #2E8B57;
  border-bottom: 0px;
  border-radius: 15px 15px 0 0;
  padding-top: 15px;
  padding-bottom: 15px;
}

#additional-shelters, #additional-pets {
  border: 2px solid #2E8B57;
  border-top: 0px;
  border-bottom: 0px;
}

#additional-shelters {
  padding-top: 0px
}

#shelter-list {
  margin-right: 15px;
  margin-left: -30px;
}

#shelter-list div:last-child {
  margin-bottom: 0px;
}

#recent-pets {
  margin-left: 15px;
}

.shelter-bubble, .pet-bubble {
  border-radius: 5px;
  margin: 0 10px 15px 10px;
  padding-top: 5px;
}

.shelter-bubble .shelterName {
  margin-bottom: 0;
  padding-bottom: 5px;
}

.shelter-bubble .shelterAddress {
  margin-bottom: 0px;
  padding-bottom: 10px;
}

.pet-bubble .petName {
  margin-bottom: 0;
}

.pet-bubble .petAnimal {
  margin-bottom: 0;
}

.pet-bubble p {
  margin-bottom: 10px;
}

.home-learn-more {
  color: white;
  margin: 0;
  padding-bottom: 5px;
}

.home-button {
  background: white;
  border: 2px solid #2E8B57;
  border-top: 0px;
  border-radius: 0 0 15px 15px;
  padding-bottom: 10px;
}


// User pages
.user-bubble {
  background: white;
  border: 2px solid #2E8B57;
  border-radius: 5px;
  padding: 5px;
}


// Shelter Index page
.shelter-container {
  background: #FFF;
  border: 2px solid #2E8B57;
}

.index-learn-more {
  margin-bottom: -15px;
}


// Pet Form
#add-user-pet-form {
  display: none;
}
